{% extends 'base.html.twig' %}

{% block title %}Hello RgpdController!{% endblock %}

{% block body %}

<div class="side-margin">
    <h1>Mention Legal</h1>
    <div>
        <h2>Identification et publication</h2>

        <dt>Editeur</dt>
        
        <p>
        Ce site est publié par l'entreprise SB Création, microentreprise au capital de 8 000 €, immatriculée à Strasbourg sous le numéro RCS 479 402 653 dont le siège social est 45, rue du Fossé des Treize - CS 60444 - 67008 STRASBOURG CEDEX.
        </p>

        <strong>Directeur de la publication : Bernard SOULIER</strong>


        <dt>Hébergeur</dt>
        <p>
        Ce site a été réalisé par  Jimdo GmbH, spécialiste de l'Ecommerce. Le service est propulsé par l’entreprise Jimdo GmbH, immatriculée à  Amtsgericht Hamburg - HRB 101417 Ust. IdNr. (numéro d’immatriculation): DE814864138 
        </p>



        <dt>Propriété intellectuelle</dt>

        <p>
        La charte graphique du site a été créée par Jimdo GmbH.
        <br>
        Tous les éléments graphiques, la structure et, plus généralement, le contenu du site SB Création sont protégés par le droit d'auteur, le droit des marques et le droit des dessins et modèles.
        <br>
        Toute personne qui recueille ou télécharge du contenu ou des  informations diffusées sur le site ne dispose sur ceux-ci que d’un droit d’usage privé, personnel et non transmissible.
        <br>
        La reproduction d’une page du site dans un cadre extérieur à SB Création ou l’insertion d’une page appartenant à SB Création dans la page d’un autre site est interdite.
        De même, toute reproduction ou représentation du site en partie ou en totalité est interdite sans l'accord écrit de SB Création et constituerait une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la Propriété Intellectuelle.
        <br>
        Les textes, graphismes, dessins, logos et photos qui sont diffusés SB Création peuvent faire l'objet d'une reproduction sur un support papier ou un support électronique, sous réserve de citer le nom et l'adresse du site et de ne pas en faire une utilisation commerciale.
        Le non-respect des dispositions ci-dessus est susceptible de constituer une contrefaçon engageant la responsabilité civile ou pénale de l'auteur de la contrefaçon.
        </p>



        <dt>Collecte et utilisation des données à caractère personnel</dt>
        <p>
        La collecte des données à caractère personnel pour les prestations proposées par le site sb-creation.fr ainsi que leur traitement sont effectués dans le respect de la loi « Informatique, Fichiers et Libertés » du 6 janvier 1978 modifiée et ses décrets d’application.
        <br>
        La collecte des données à caractère personnel concernant les utilisateurs du site SB Création a pour finalités principales l’identification des utilisateurs pour la fourniture des services et prestations proposés sur le site.
        <br>
        Les données récoltées ne sont jamais transmis à des tiers sauf si le client a donné son consentement préalable et ce sous réserve que les tiers se soient clairement engagés à respecter toutes les dispositions de la Loi du 6 janvier 1978 modifiée.
        <br>
        En application de la loi, toute personne ayant transmis des données à caractère personnel dispose d’un droit d’accès, de rectification et de suppression des données ainsi que d’un droit d’opposition au traitement des données à caractère personnel la concernant.
        A tout moment, vous pouvez demander à exercer ce droit en contactant SB Création.
        <br>
        Les visiteurs du site sont informés que pour les besoins de la navigation sur le site sb-creation.fr,  SB Création peut avoir recours à la collecte automatique de certaines informations relatives aux utilisateurs à l'aide des cookies. Si l'utilisateur du site ne souhaite pas l’utilisation de cookies par SB Création, il peut refuser l’activation des cookies par le biais des options proposés par son navigateur internet. Pour des raisons techniques, si l'utilisateur désactive les cookies dans son navigateur, certaines prestations proposées sur le site [url du site] pourront ne pas lui être accessibles.
        </p>
    </div> 
</div>

<div class="footer-margin"></div>


{% endblock %}
