{% extends 'base.html.twig' %}

{% block body %}
	<div class="header-background">
		<div class="layer">
			<div class="header-text">"
				<p>Association oeuvrant pour la valorisation de soi au travers de la création artistique</p>
				<p>En partenariat privilégié avec SB Création</p>
			</div>
		</div>
	</div>

	<div class="space"></div>

	<section class="first-section side-margin">
		<img class="img-kifuz img-grid" src="/assets/img1.png" alt="Images KifuzSamuz">
		<article>
			<h2 class="title-size orange">L'art du Fusing pour tous</h2>
			<p class="text-size">Le but de l'Association KifuzSamuz
				<br>
				est de permettre à tous les publics
				<br>
				d’entrer dans la créativité
				<br>
				et de développer leur propre démarche de création
				<br>
				à travers des ateliers d'initiation
				<br>
				à l'Art du Fusing.
			</p>
			<a href="#">
				<button class="button">Découvrir nos ateliers</button>
			</a>
		</article>
	</section>

	<section class="second-section side-margin">
		<article>
			<h3 class="title-size orange">La technique du Fusing</h3>
			<p class="text-size">Nous utilisons la technique du FUSING, la plus ancienne des techniques de fabrication et de travail du verre. 
								        Le mot Fusing vient du verbe anglais "to fuse" qui signifie fondre.
								        Elle consiste à assembler par superposition des morceaux de verre collés à froid, puis à porter l'ensemble dans un four à son point de fusion pour former une seule pièce homogène.
								        Les verres utilisés doivent impérativement avoir le même coefficient de dilatation. En effet, les verres ne peuvent fusionner entre eux que s'ils sont compatibles. 
								        Les applications du fusing sont diverses. Elles se retrouvent surtout dans la décoration et la réalisation de bijoux.</p>
			<div class="img-div">
				<img class="img-kifuz img-grid" src="/assets/fusing.jpg" alt="Images d'illustration">
				<img class="img-kifuz img-grid" src="/assets/fusing2.jpg" alt="Images d'illustration">
			</div>
		</article>
	</section>

	<section class="third-section">

		<article class="side-margin">

            <h4 class="title-size">Pourquoi cette association</h4>
            <p class="three-dots"><img src="/assets/more.png" alt="Images d'illustration"></p>

			<div>
				<p class="text-size">L'Association KifuzSamuz (Qui fuse s'amuse) est née en 2020 du désir de Virginie, épouse de Bernard Soulier - artiste verrier,  	
				    de partager le savoir et la passion du Fusing de ce dernier (tout comme il l'a fait lui-même avec elle à leur rencontre en 2013) 
					avec des publics différents : éloignés de l’offre culturelle, fragilisés, dans l’apprentissage 	
					ou tout simplement avec tous ceux qui veulent vivre des expériences créatives autour du "faire soi-même ensemble" 	
					dans le but de développer du lien social et de favoriser leur épanouissement personnel.</p>
                <img class="img-grid img-kifuz" src="/assets/kifuz3.jpg" alt="Images d'illustration">
			</div>
		</article>

	</section>

	<section class="fourth-section">

		<article class="side-margin">

            <h4 class="title-size orange">Nos actions</h4>


				<p class="text-size white-block">
					Pour réaliser son objet, l’Association KifuzSamuz propose, des expériences artistiques à travers des ateliers d'initiation accessibles à tous et ajustés en fonction du niveau et du rythme d’apprentissage des participants. 

					Les cours d'initiation sont assurés par Bernard Soulier de SB CRÉATION.

					L’association œuvre également à la promotion et à la diffusion d'œuvres d’art par le biais d’évènements culturels (concert, spectacle, exposition..) pour valoriser les créations issues des ateliers artistiques, de sa production personnelle ou celle d'autres artistes. 
				</p>

		</article>

	</section>

	<div class="footer-margin"></div>

{% endblock %}

	