{% extends 'base.html.twig' %}

{% block body %}
	<section class="thank-section white-block">
		<h1><img src="/assets/tick-mark.png" alt="">Erreur de paiement</h1>
		<p>Votre paiement a été refuser</p>
		<p>Veuillez réessayer s'il vous plait</p>
		<div>
			<img class="link-img" src="/assets/twitter.png" alt="">
			<img class="link-img" src="/assets/facebook.png" alt="">
			<img class="link-img" src="/assets/google-plus.png" alt="">
		</div>
	</section>
{% endblock %}