{% extends 'base.html.twig' %}

{% block body %}
	<section class="thank-section white-block">
		<h1><img src="/assets/tick-mark.png" alt=""> Merci pour votre commande !</h1>
		<p>Votre paiement a été effectué avec succès</p>
		<p>Vous recevrez un mail de confirmation d'ici quelques instants</p>
		<div>
			<img class="link-img" src="/assets/twitter.png" alt="">
			<img class="link-img" src="/assets/facebook.png" alt="">
			<img class="link-img" src="/assets/google-plus.png" alt="">
		</div>
	</section>

		<div class="footer-margin"></div>

{% endblock %}